<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demo</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
    <h1>Hello World</h1>
    <img src="https://img.freepik.com/free-vector/school-infographic_23-2147488673.jpg?w=740&t=st=1715836578~exp=1715837178~hmac=d88720e2fd1b0cccbfc9e5ecdf3184eb89ee71dcf230fcb8b880e84667764b31"
        alt="no image" width="300px" height="300px">
    <hr>
    <center>
        {% for i,j in mylist%}
            <a href="{% url 'date' %}">{{ i.question_text }}</a><br>
            {{ j.choice_text }}<br><br>
        {% endfor %}
    </center>
</body>

</html>