{% extends "base_generic.html" %}

{% block content %}
  <h1>Questions and Choices</h1>
  <ul>
    {% for question, choice in mylist %}
      <li>
        {{ question.question_text }} (Published on: {{ question.pub_date }}) - {{ choice.choice_text }} (Votes: {{ choice.votes }})
        <a href="{% url 'update' question.pk %}">Edit</a> |
        <a href="{% url 'delete' question.pk %}">Delete</a>
      </li>
    {% endfor %}
  </ul>
  <a href="{% url 'create' %}">Add new question and choice</a>
{% endblock %}
