<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Published Date </title>
</head>

<body>
    <!-- <h1>Published Date of the question</h1>
    <p>{{data.question_text}}</p>{{data.pub_date}} -->
    <center>
        <form method="POST">
            {% csrf_token %}
            <label for="question_text">Question</label><br>
            <input type="text" name="question_text"><br>
            <label for=" pub_date">Date</label><br>
            <input type="date" name="pub_date"><br><br>
            <!-- ans -->
            <label for="Question">Question</label>
            <select name="questions">
                <option value="">Chose the question</option>

                {% for questions in question %}
                <option>
                    {{questions.question_text}}
                </option>
                {% endfor %}

            </select>
            <label for="choice_text">choice_text</label><br>
            <input type="text" name="choice_text"><br>
            <label for=" votes"> votes</label><br>
            <input type="number" name="votes"><br>
            <input type="submit" value="Submit">
        </form>
    </center>

</body>

</html>